<% var alias = article.alias
    if (article.parent){
        alias = article.parent.alias
    } %>
<a href="/article/<%=alias%><%=urltail%>">
    <%  var image = "/images/noimage.jpg"
    if (article.image){
        image = article.image
    } else if (article.parent && article.parent.image){
        image = article.parent.image
    }
    image = image.substr(0, image.lastIndexOf('.')) + "-min" +
            image.substr(image.lastIndexOf('.'))
    %>
    <img src="<%=image%>" alt="<%=article.title%>">
    <div class="details">
        <h2><%=article.title%></h2>
        <%  var shortdescription = article.shortdescription
        if (shortdescription.length > 100){
            shortdescription = shortdescription.substr(0, 100) + "..."
        }
        %>
        <p><%=shortdescription%></p>
    </div>
</a>