<!DOCTYPE html>
<html lang="ru" dir="ltr">
<%- include ../common/head %>
<body>
<div class="page-wrapper">
    <%- include ../common/header %>
    <%- include ./body %>
    <%- include ../common/footer %>
    <%- include ../common/scrolltop%>
</div>
<%- include ../common/scriptpack %>
</body>
</html>